@media only screen and (max-width: 2499px) {
  .hide-xlg {
    display: none !important;
  }
}

@media only screen and (max-width: 1599px) {
  .hide-lg {
    display: none !important;
  }
}

@media only screen and (max-width: 991px) {
  .hide-md {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .hide-sm {
    display: none !important;
  }
}

@media only screen and (max-width: 479px) {
  .hide-xs {
    display: none !important;
  }
}

@media only screen and (max-width: 2499px) {
  .show-xlg {
    display: inherit !important;
  }
}

@media only screen and (max-width: 1599px) {
  .show-lg {
    display: inherit !important;
  }
}

@media only screen and (max-width: 991px) {
  .show-md {
    display: inherit !important;
  }
}

@media only screen and (max-width: 767px) {
  .show-sm {
    display: inherit !important;
  }
}

@media only screen and (max-width: 479px) {
  .show-xs {
    display: inherit !important;
  }
}

h3 {
  color: rgba(185, 185, 185, 0.507);
}

html {
  background: #3f3e3ee8;
}

body {
  background: #3f3e3ee8;
}

.row {
  margin: 0;
}

.search-result {
  margin: 0.5rem 2rem;
  font-size: 1.1rem;
}

.cabecalho {
  position: absolute;
  align-self: flex-start;
  padding: 0;
  margin: 0.8em 0.8em;
  width: 4em;
  color: white;
}

.cabecalho-titulo {
  position: absolute;
  align-self: flex-start;
  padding: 0;
  margin: 0.8em 3em;
  color: white;
}

@media only screen and (max-width: 485px) {
  .cabecalho-titulo {
    display: none;
  }
  .cabecalho {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .imagem-itunes {
    display: none;
  }
}

.search-bar {
  background: #262626;
  padding: 6rem 2rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search-bar input {
  width: 100%;
  margin-bottom: 0.5em;
  padding: 1rem;
  border: 1px solid #1d1d1d;
  background: #1f1f1f;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
}
@media only screen and (max-width: 479px) {
  .search-bar {
    padding: 2rem 2rem 2rem;
  }
  .search-bar input {
    width: 95%;
  }
}

.sorter {
  margin: 0;
  padding: 1rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #262626;
}
@media only screen and (max-width: 479px) {
  .sorter {
    bottom: 0;
    overflow: hidden;
    /* left: 5%; */
    width: 100%;
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: center;
    position: fixed;
  }
}
.sorter li {
  list-style: none;
}
.sorter li a {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #666666;
  text-transform: uppercase;
  display: block;
  border-bottom: 2px solid #262626;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sorter li a.active,
.sorter li a:hover {
  color: #e2e2e2;
  border-bottom: 2px solid #bc2e2e;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 479px) {
  .sorter li a {
    border-bottom: none;
    border-top: 2px solid #262626;
    font-size: 1.3rem;
  }
  .sorter li a.active,
  .sorter li a:hover {
    border-top: 2px solid #bc2e2e;
    border-bottom: none;
  }
}
@media only screen and (max-width: 991px) {
  .sorter li a {
    font-size: 1.3rem;
  }
}
